<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    @RenderSection("JSLibs", false)
</head>

    <body>
        <div class="container">
            @RenderPage("_Header.cshtml")
            @RenderBody()            
        </div>
        
        
        @RenderSection("Javascript", false)
    </body>
</html>
