@using FirstStepMVC.Code.ApplicationService.Student
@model IEnumerable<FirstStepMVC.Models.StudentViewModel>

@{
    ViewBag.Title = "Student Search";
}

<h2>Students</h2>

<div>
    @using (Html.BeginForm("Index", "Student", FormMethod.Get, new { @class="well form-search" }))
    {
        @Html.Label("name", "Enter student name to search for")
        @Html.TextBox("name", String.Empty, new { @class="search-query" })
        <label class="radio">
            @Html.RadioButton("SearchMode", SearchMode.BeginsWith, new { @class="radio" })
            Name begins with
        </label>
        <label class="radio">
            @Html.RadioButton("SearchMode", SearchMode.Contains, new { @class = "radio" })
            Name contains
        </label>
        <button type="submit" class="btn">Search</button>
    }
</div>

@if (!Model.Any())
{
<div class="alert alert-info">
    <label>No matching students found</label>
</div>
}
else
{
    foreach (var student in Model)
    {
        <div class="row">
            <div class="span6">
                <span class="span1">@student.FirstName</span>
                <span class="span1">@student.LastName</span>
                <span class="span2">@String.Format("{0:dd MMM yyyy}", student.DateOfBirth)</span>
                <span class="span1">@student.Gender</span>
            </div>
        </div>
    }
}